@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.54;
}

header {
  background: #fff;
  position: fixed;
  padding: 24px 24px 0 24px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  width: 100%;
  z-index: 2000;
  top: 0;
}

header .header-top {
  display: -webkit-box;
  display: flex;
}

header .header-top h2 {
  margin: 0 7px;
  font-family: "product sans", "open sans", arial, sans-serif;
  font-weight: 400;
}

header .header-top h2 a {
  text-decoration: none;
  color: #5f6368;
}

header .header-bottom ul {
  display: -webkit-box;
  display: flex;
  list-style: none;
  padding: 15px 15px 0 0;
}

header .header-bottom ul li {
  margin: 0 42px 0 0;
}

header .header-bottom ul li:last-child {
  margin-left: auto;
  margin-right: 0;
}

header .header-bottom ul li a {
  text-decoration: none;
  color: #5f6368;
  padding: 0 0 6px 0;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

header .header-bottom .selezione {
  color: #3367d6;
  padding-bottom: 3px;
  border-bottom: 3px solid #3367d6;
}

header .header-bottom .sticker {
  min-height: 108px;
}

main {
  margin-top: 108px;
}

main .container {
  max-width: 978px;
  margin: 0 auto;
  padding: 32px;
}

main h2 {
  color: #3c4043;
  font-family: "Google Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 64px 0 0 0;
}

main p {
  letter-spacing: 0.2px;
  line-height: 24px;
  padding-top: 20px;
  margin: 10px 0;
}

main p a {
  text-decoration: none;
}

footer {
  background: #f5f5f5;
  border-top: 1px solid #eee;
  font-size: 11px;
  line-height: 2.19;
  list-style: none;
  padding: 10px 15px 10px 15px;
}

footer .container {
  display: -webkit-box;
  display: flex;
  max-width: 978px;
  margin: 0 auto;
  padding: 0 32px 0 32px;
}

footer .container ul {
  display: -webkit-box;
  display: flex;
  font-size: 11px;
  list-style: none;
}

footer .container ul li:not(:first-child)::before {
  content: "\B7";
  padding: 0 5px;
}

footer .container ul li a {
  color: rgba(61, 61, 61, 0.8);
  text-decoration: none;
}

footer .container img {
  margin-left: auto;
  padding: 5px;
}

