* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: rgba(0,0,0,0.87);
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.54;
}
