header {
    background: #fff;
    position: fixed;
    padding: 24px 24px 0 24px;
    border-bottom: 1px solid rgba(151,151,151,0.5);
    width: 100%;
    z-index: 2000;
    top: 0;

    .header-top {
        display: flex;
        h2 {
            margin: 0 7px;
            font-family: "product sans","open sans",arial,sans-serif;
            font-weight: 400;
            a {
                text-decoration: none;
                color: #5f6368;
            }
        }
    }

    .header-bottom {
        ul {
            display: flex;
            list-style: none;
            padding: 15px 15px 0 0;

            li {
                margin: 0 42px 0 0;

                &:last-child {
                    margin-left: auto;
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    color: #5f6368;
                    padding: 0 0 6px 0;
                    display: inline-block;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .selezione {
            color: #3367d6;
            padding-bottom: 3px;
            border-bottom: 3px solid #3367d6;
        }

        .sticker {
            min-height: 108px;
        }
    }
}
